{% extends('base.html.twig') %}

{% block title %}Исполнители{% endblock %}

{% block content %}

    <!--============================= GENRES =============================-->
    <section class="reserve-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex flex-column">
                    <h5>Исполнители</h5>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-md-6">
                        <div class="reserve-seat-block">
                            <div class="review-btn">
                                <a href="{{ path('artist_add') }}"
                                   class="btn btn-outline-danger">Добавить</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="light-bg booking-details_wrap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 responsive-wrap">
                    <div class="booking-checkbox_wrap">
                        <div class="booking-checkbox">
                            <div class="row justify-content-center">
                                {% if artists|length > 0 %}
                                    {% for artist in artists %}
                                        <div class="col-md-3 category-responsive">
                                            <a href="{{ path('artist_show', {'id': artist.getId() }) }}"
                                               class="category-wrap">
                                                <div class="category-block">
                                                    <svg class="category-img" version="1.1" id="Capa_1"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;"
                                                         xml:space="preserve">
                                                    <path fill="none" stroke="#ff3a6d" class="active-path"
                                                          stroke-linecap="round"
                                                          stroke-miterlimit="10" d="M13.978,28.197
                                                        c-3.632,3.632-8.717-1.452-8.717-1.452s-5.085-5.085-1.453-8.718c2.179-2.178,3.995-1.089,5.448-2.542
                                                        c1.09-1.09,0.364-1.817,2.542-3.996c2.906-2.905,6.539,0.727,7.264,1.453c0.727,0.726,4.359,4.358,1.453,7.265
                                                        c-2.179,2.179-2.905,1.451-3.996,2.542C15.067,24.202,16.157,26.019,13.978,28.197z M22.694,6.406L17.61,11.49 M20.516,14.396
                                                        l5.085-5.084 M29.233,5.679c0.307-0.534,0.401-1.051,0-1.453L27.78,2.773c-0.401-0.401-0.932-0.34-1.453,0l-3.633,2.18
                                                        c-0.401,0.401-0.401,1.052,0,1.453l2.906,2.905c0.401,0.401,1.052,0.401,1.453,0L29.233,5.679z M15.43,20.934
                                                        c1.204-1.203,1.204-3.156,0-4.358c-1.204-1.203-3.156-1.203-4.359,0c-1.203,1.202-1.203,3.155,0,4.358
                                                        C12.275,22.136,14.227,22.136,15.43,20.934z M7.077,19.844l5.448,5.448 M22.694,9.311l1.453,1.453 M21.242,10.764l1.452,1.453"/>
                                                </svg>
                                                    <h6>{{ artist.getName() }}</h6>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="col-md-4">
                                        <div class="featured-btn-wrap">
                                            <h6 style="font-size: 18px">К сожалению в базе отсутствуют исполнители.</h6>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <a href="{{ path('artist_add') }}" class="btn btn-danger mt-4"><span
                                                            class="ti-plus"></span>
                                                    Добавить исполнителей</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END CATEGORIES -->

{% endblock %}