{% extends('base.html.twig') %}

{% block title %}
    {% if artist is defined %}
        Редактировать исполнителя
    {% else %}
        Добавить исполнителя
    {% endif %}
{% endblock %}

{% block content %}
    <section class="reserve-block">
        <div class="container">
            <div class="row">
                {% if artist is defined %}
                    <div class="col-md-6 d-flex flex-column">
                        <h5>Редактировать жанр</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="reserve-seat-block">
                            <div class="review-btn">
                                <a href="{{ path('artist_remove', { 'id': artist.getId() }) }}"
                                   class="btn btn-outline-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-6 d-flex flex-column">
                        <h5>Добавить</h5>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="light-bg booking-details_wrap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 responsive-wrap">
                    <div class="booking-checkbox_wrap">
                        <div class="booking-checkbox">
                            {{ form_start(form, {'method':'POST'}) }}

                            <div class="form-group">
                                {{ form_label(form.name) }}
                                {% if form_errors(form.name) %}
                                    {{ form_widget(form.name, {'attr':{'class':'form-control is-invalid'}}) }}
                                    <div class="invalid-feedback">
                                        {{ form_errors(form.name) }}
                                    </div>
                                {% else %}
                                    {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.desc) }}
                                {% if form_errors(form.desc) %}
                                    {{ form_widget(form.desc, {'attr':{'class':'form-control is-invalid'}}) }}
                                    <div class="invalid-feedback">
                                        {{ form_errors(form.desc) }}
                                    </div>
                                {% else %}
                                    {{ form_widget(form.desc, {'attr':{'class':'form-control'}}) }}
                                {% endif %}
                            </div>

                            {{ form_widget(form.save, {'attr':{'class':'btn btn-dark'}}) }}

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}