{% extends('base.html.twig') %}

{% block title %}Главная{% endblock %}

{% block content %}

    <!--============================= GENRES =============================-->
    <section class="reserve-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex flex-column">
                    <h5>Жанры</h5>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-md-6">
                        <div class="reserve-seat-block">
                            <div class="review-btn">
                                <a href="{{ path('genre_add') }}"
                                   class="btn btn-outline-danger">Добавить</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="light-bg booking-details_wrap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 responsive-wrap">
                    <div class="booking-checkbox_wrap">
                        <div class="booking-checkbox">
                            <div class="row justify-content-center">
                                {% if genres|length > 0 %}
                                    {% for genre in genres %}
                                        <div class="col-md-3 category-responsive">
                                            <a href="{{ path('genre_show', {'id': genre.getId() }) }}"
                                               class="category-wrap">
                                                <div class="category-block">
                                                    <svg class="category-img" version="1.1" id="Capa_1"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;"
                                                         xml:space="preserve">
                                                        <path fill="none" stroke="#ff3a6d" class="active-path"
                                                              stroke-linecap="round"
                                                              stroke-miterlimit="10" d="M5.5,11.5v2 M4.5,12.5h2 M26.5,21.5v2 M25.5,22.5h2 M9.5,2.5v4 M7.5,4.5h4 M19.5,24.5v4 M17.5,26.5h4
                                                             M19.2,16.8c0.7,0.7,0,1.3,0,1.3S7.2,28.8,5.8,27.5c-1.3-1.3-1.3-1.3-1.3-1.3c-1.3-1.3,8.7-12.7,9.4-13.4c0.7-0.7,1.3,0,1.3,0
                                                            L19.2,16.8z M12.1,15l5,5 M6.8,21.7l3.6,3.6 M5.2,26.8l-2.7,2.7 M19.8,17.4c2.6,0.8,5.5,0.1,7.5-1.9c3-3,3-7.8,0-10.7
                                                            c-3-3-7.8-3-10.7,0c-2,2-2.7,4.9-1.9,7.5 M16.6,4.7l10.7,10.7"/>
                                                    </svg>
                                                    <h6>{{ genre.getName() }}</h6>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="col-md-4">
                                        <div class="featured-btn-wrap">
                                            <h6 style="font-size: 18px">К сожалению в базе отсутствуют жанры.</h6>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <a href="{{ path('artist_add') }}" class="btn btn-danger mt-4"><span
                                                            class="ti-plus"></span>
                                                    Добавить жанр</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END CATEGORIES -->

{% endblock %}