{% extends('base.html.twig') %}

{% block title %}{{ genre.getName() }}{% endblock %}

{% block content %}
    <section class="reserve-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex flex-column">
                    <h5>{{ genre.getName() }}</h5>
                    <p class="reserve-description">{{ genre.getMusics()|length }} песен</p>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="col-md-6">
                    <div class="reserve-seat-block">
                        <div class="review-btn">
                            <a href="{{ path('genre_edit', { 'id': genre.getId() }) }}" class="btn btn-outline-danger">Редактировать</a>
                        </div>
                        <div class="review-btn">
                            <a href="{{ path('genre_remove', { 'id': genre.getId() }) }}" class="btn btn-outline-danger">Удалить</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="light-bg booking-details_wrap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 responsive-wrap">
                    <div class="booking-checkbox_wrap">
                        {% if musics|length < 1 %}
                            <div class="featured-btn-wrap">
                                <h6 style="font-size: 18px">К сожалению треки данного жанра отсутствуют.</h6>
                                {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('music_add') }}" class="btn btn-danger mt-4"><span
                                            class="ti-plus"></span>
                                    Добавить трек</a>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% for music in musics %}
                            <div class="customer-review_wrap">
                                <div class="row align-items-center">
                                    {% if music.url is not empty %}
                                        <div class="col-auto">
                                            <div class="audioplay-object">
                                                <div class="audioplay-button"></div>
                                                <audio class="audioplay-player">
                                                    <source src="{{ asset('tracks/' ~ music.url) }}"/>
                                                    Your browser doesn't support &lt;audio&gt; element.
                                                </audio>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="col">
                                        <h6>{{ music.name }}</h6>
                                        <div>
                                            {% for author in music.authors %}
                                                <a href="{{ path('artist_show', {'id': author.id }) }}"
                                                   class="text-muted">
                                                    <i class="icon-user"></i> {{ author.name }}
                                                </a>
                                                {% if not loop.last %}<span class="text-muted"> | </span>{% endif %}
                                            {% endfor %}
                                        </div>
                                        <span class="text-muted"><i class="icon-disc"></i> Альбом</span>
                                    </div>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <div class="col-auto">
                                        <div class="btn-group">
                                            <a href="{{ path('music_edit', {'id': music.id}) }}"
                                               class="btn btn-dark"><i class="icon-pencil"></i></a>
                                            <a href="{{ path('music_remove', {'id': music.id}) }}"
                                               class="btn btn-dark"><i class="icon-trash"></i></a>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                {% if not loop.last %}
                                    <hr>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% if genre.getDesc() is not empty %}
                    <div class="col-md-6 responsive-wrap mt-lg-0  mt-4">
                        <div class="booking-checkbox_wrap">
                            <div class="booking-checkbox">
                                <h6>Описание</h6>
                                <hr />
                                {% set foo = genre.getDesc()|split('\r\n') %}
                                {% for p in foo|slice(0, 5) %}
                                    <p>{{ p }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}