{% extends('base.html.twig') %}

{% block title %}Редактировать трек{% endblock %}

{% block content %}
    <section class="reserve-block">
        <div class="container">
            <div class="row">
                {% if music is defined %}
                    <div class="col-md-6 d-flex flex-column">
                        <h5>Редактировать трек</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="reserve-seat-block">
                            <div class="review-btn">
                                <a href="{{ path('music_remove', { 'id': music.getId() }) }}"
                                   class="btn btn-outline-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-6 d-flex flex-column">
                        <h5>Добавить трек</h5>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="light-bg booking-details_wrap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 responsive-wrap">
                    <div class="booking-checkbox_wrap">
                        <div class="booking-checkbox">
                            {{ form_start(form, {'method':'POST'}) }}

                            <div class="form-group">
                                {{ form_label(form.name) }}
                                {% if form_errors(form.name) %}
                                    {{ form_widget(form.name, {'attr':{'class':'form-control is-invalid'}}) }}
                                    <div class="invalid-feedback">
                                        {{ form_errors(form.name) }}
                                    </div>
                                {% else %}
                                    {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.authors) }}
                                {% if form_errors(form.authors) %}
                                    {{ form_widget(form.authors, {'attr':{'class':'form-control is-invalid'}}) }}
                                    <div class="invalid-feedback">
                                        {{ form_errors(form.authors) }}
                                    </div>
                                {% else %}
                                    {{ form_widget(form.authors, {'attr':{'class':'form-control'}}) }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.musicFile) }}
                                <div class="custom-file">
                                    {% if form_errors(form.musicFile) %}
                                        {{ form_widget(form.musicFile, {'attr': {'class': 'custom-file-input is-invalid', 'lang': 'ru'}}) }}
                                        {{ form_label(form.musicFile, null, {'label': 'Выберите трек...', 'label_attr': {'class': 'custom-file-label'}}) }}
                                        <div class="invalid-feedback">
                                            {{ form_errors(form.musicFile) }}
                                        </div>
                                    {% else %}
                                        {{ form_widget(form.musicFile, {'attr': {'class': 'custom-file-input', 'lang': 'ru'}}) }}
                                        {{ form_label(form.musicFile, null, {'label': 'Выберите трек...', 'label_attr': {'class': 'custom-file-label'}}) }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.genre) }}
                                {% if form_errors(form.genre) %}
                                    {{ form_widget(form.genre, {'attr':{'class':'form-control is-invalid'}}) }}
                                    <div class="invalid-feedback">
                                        {{ form_errors(form.genre) }}
                                    </div>
                                {% else %}
                                    {{ form_widget(form.genre, {'attr':{'class':'form-control'}}) }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.album) }}
                                {% if form_errors(form.album) %}
                                    {{ form_widget(form.album, {'attr':{'class':'form-control is-invalid'}}) }}
                                    <div class="invalid-feedback">
                                        {{ form_errors(form.album) }}
                                    </div>
                                {% else %}
                                    {{ form_widget(form.album, {'attr':{'class':'form-control'}}) }}
                                {% endif %}
                            </div>

                            {{ form_widget(form.save, {'attr':{'class':'btn btn-dark'}}) }}

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $('.custom-file-input').on('change', function () {
            let fileName = $(this).val().split('\\').pop();
            $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
        });
    </script>
{% endblock %}