{% extends('base.html.twig') %}

{% block title %}Главная{% endblock %}

{% block header %}
    {% include('inc/header_top_transparent.html.twig') %}
{% endblock %}

{% block content %}

    <!-- SLIDER -->
    <section class="slider d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="slider-title_box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-content_wrap">
                                    <h1>Добро пожаловать в Медиатеку!</h1>
                                    <h5>Здесь вы найдете последние новинки и популярые хиты.</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// SLIDER -->

    <!--============================= Musics =============================-->
    <section class="main-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>Новые песни</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    {% if musics|length > 0 %}
                        {% for music in musics %}
                            <div class="customer-review_wrap">
                                <div class="row align-items-center">
                                    {% if music.url is not empty %}
                                        <div class="col-auto">
                                            <div class="audioplay-object">
                                                <div class="audioplay-button"></div>
                                                <audio class="audioplay-player">
                                                    <source src="{{ asset('tracks/' ~ music.url) }}"/>
                                                    Your browser doesn't support &lt;audio&gt; element.
                                                </audio>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="col">
                                        <h6>{{ music.name }}</h6>
                                        <div>
                                            {% for author in music.authors %}
                                                <a href="{{ path('artist_show', {'id': author.id }) }}"
                                                   class="text-muted">
                                                    <i class="icon-user"></i> {{ author.name }}
                                                </a>
                                                {% if not loop.last %}<span class="text-muted"> | </span>{% endif %}
                                            {% endfor %}
                                        </div>

                                        {% if music.album.name is defined %}
                                            <span class="text-muted"><i
                                                        class="icon-disc"></i> {{ music.album.name }}</span>
                                        {% endif %}
                                    </div>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <div class="col-auto">
                                            <div class="btn-group">
                                                <a href="{{ path('music_edit', {'id': music.id}) }}"
                                                   class="btn btn-dark"><i class="icon-pencil"></i></a>
                                                <a href="{{ path('music_remove', {'id': music.id}) }}"
                                                   class="btn btn-dark"><i class="icon-trash"></i></a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% if not loop.last %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                        <div class="featured-btn-wrap">
                            <a href="{{ path('musics') }}" class="btn btn-danger mt-4">
                                Смотреть все треки</a>
                        </div>
                    {% else %}
                        <div class="featured-btn-wrap">
                            <h6 style="font-size: 18px">К сожалению в базе отсутствуют треки.</h6>
                            <a href="{{ path('music_add') }}" class="btn btn-danger mt-4"><span
                                        class="ti-plus"></span>
                                Добавить трек</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!--//END Musics -->

    <!--============================= Artists =============================-->
    <section class="main-block light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>Популярые исполнители</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {% if artists|length > 0 %}
                    {% for artist in artists %}
                        <div class="col-md-3 category-responsive">
                            <a href="{{ path('artist_show', {'id': artist.getId() }) }}"
                               class="category-wrap">
                                <div class="category-block">
                                    <svg class="category-img" version="1.1" id="Capa_1"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;"
                                         xml:space="preserve">
                                                    <path fill="none" stroke="#ff3a6d" class="active-path"
                                                          stroke-linecap="round"
                                                          stroke-miterlimit="10" d="M13.978,28.197
                                                        c-3.632,3.632-8.717-1.452-8.717-1.452s-5.085-5.085-1.453-8.718c2.179-2.178,3.995-1.089,5.448-2.542
                                                        c1.09-1.09,0.364-1.817,2.542-3.996c2.906-2.905,6.539,0.727,7.264,1.453c0.727,0.726,4.359,4.358,1.453,7.265
                                                        c-2.179,2.179-2.905,1.451-3.996,2.542C15.067,24.202,16.157,26.019,13.978,28.197z M22.694,6.406L17.61,11.49 M20.516,14.396
                                                        l5.085-5.084 M29.233,5.679c0.307-0.534,0.401-1.051,0-1.453L27.78,2.773c-0.401-0.401-0.932-0.34-1.453,0l-3.633,2.18
                                                        c-0.401,0.401-0.401,1.052,0,1.453l2.906,2.905c0.401,0.401,1.052,0.401,1.453,0L29.233,5.679z M15.43,20.934
                                                        c1.204-1.203,1.204-3.156,0-4.358c-1.204-1.203-3.156-1.203-4.359,0c-1.203,1.202-1.203,3.155,0,4.358
                                                        C12.275,22.136,14.227,22.136,15.43,20.934z M7.077,19.844l5.448,5.448 M22.694,9.311l1.453,1.453 M21.242,10.764l1.452,1.453"/>
                                                </svg>
                                    <h6>{{ artist.getName() }}</h6>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    <div class="col-md-3 category-responsive">
                        <a href="{{ path('artists') }}"
                           class="category-wrap">
                            <div class="category-block">
                                <svg class="category-img" version="1.1" id="Capa_1"
                                     xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;"
                                     xml:space="preserve">
                                    <path fill="none" stroke="#ff3a6d" class="active-path"
                                          stroke-linecap="round"
                                          stroke-miterlimit="10"
                                          d="M5.5,16  c0,5.787,4.698,10.5,10.5,10.5 M25.5,16c0-5.249-4.264-9.5-9.5-9.5 M24.67,19.879c-0.366,0.816-0.845,1.572-1.416,2.246 M16,29.5  C8.544,29.5,2.5,23.456,2.5,16C2.5,8.544,8.544,2.5,16,2.5c7.456,0,13.5,6.044,13.5,13.5C29.5,23.456,23.456,29.5,16,29.5z M21.5,16  c0-3.038-2.467-5.5-5.5-5.5c-3.038,0-5.5,2.462-5.5,5.5c0,3.033,2.462,5.5,5.5,5.5C19.033,21.5,21.5,19.033,21.5,16z M17.5,16  c0-0.828-0.672-1.5-1.5-1.5c-0.828,0-1.5,0.672-1.5,1.5c0,0.828,0.672,1.5,1.5,1.5C16.828,17.5,17.5,16.828,17.5,16z"/>
                                </svg>
                                <h6>Смотреть всех</h6>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <div class="col-md-4">
                        <div class="featured-btn-wrap">
                            <h6 style="font-size: 18px">К сожалению в базе отсутствуют исполнители.</h6>
                            <a href="{{ path('artist_add') }}" class="btn btn-danger mt-4"><span class="ti-plus"></span>
                                Добавить исполнителей</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!--//END Artists -->

    <!--============================= Albums =============================-->
    <section class="main-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>Новые альбомы</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {% if albums|length > 0 %}
                    {% for album in albums %}
                        <div class="col-md-3 category-responsive">
                            <a href="{{ path('album_show', {'id': album.id }) }}"
                               class="category-wrap">
                                <div class="category-block">
                                    <svg class="category-img" version="1.1" id="Capa_1"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;"
                                         xml:space="preserve">
                                    <path fill="none" stroke="#ff3a6d" class="active-path"
                                          stroke-linecap="round"
                                          stroke-miterlimit="10"
                                          d="M5.5,16  c0,5.787,4.698,10.5,10.5,10.5 M25.5,16c0-5.249-4.264-9.5-9.5-9.5 M24.67,19.879c-0.366,0.816-0.845,1.572-1.416,2.246 M16,29.5  C8.544,29.5,2.5,23.456,2.5,16C2.5,8.544,8.544,2.5,16,2.5c7.456,0,13.5,6.044,13.5,13.5C29.5,23.456,23.456,29.5,16,29.5z M21.5,16  c0-3.038-2.467-5.5-5.5-5.5c-3.038,0-5.5,2.462-5.5,5.5c0,3.033,2.462,5.5,5.5,5.5C19.033,21.5,21.5,19.033,21.5,16z M17.5,16  c0-0.828-0.672-1.5-1.5-1.5c-0.828,0-1.5,0.672-1.5,1.5c0,0.828,0.672,1.5,1.5,1.5C16.828,17.5,17.5,16.828,17.5,16z"/>
                                </svg>
                                    <h6>{{ album.name }}</h6>
                                    {% if album.author.name is defined %}
                                        <h6 style="font-size: 18px">{{ album.author.name }}</h6>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    <div class="col-md-3 category-responsive">
                        <a href="{{ path('albums') }}"
                           class="category-wrap">
                            <div class="category-block">
                                <svg class="category-img" version="1.1" id="Capa_1"
                                     xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;"
                                     xml:space="preserve">
                                    <path fill="none" stroke="#ff3a6d" class="active-path"
                                          stroke-linecap="round"
                                          stroke-miterlimit="10"
                                          d="M5.5,16  c0,5.787,4.698,10.5,10.5,10.5 M25.5,16c0-5.249-4.264-9.5-9.5-9.5 M24.67,19.879c-0.366,0.816-0.845,1.572-1.416,2.246 M16,29.5  C8.544,29.5,2.5,23.456,2.5,16C2.5,8.544,8.544,2.5,16,2.5c7.456,0,13.5,6.044,13.5,13.5C29.5,23.456,23.456,29.5,16,29.5z M21.5,16  c0-3.038-2.467-5.5-5.5-5.5c-3.038,0-5.5,2.462-5.5,5.5c0,3.033,2.462,5.5,5.5,5.5C19.033,21.5,21.5,19.033,21.5,16z M17.5,16  c0-0.828-0.672-1.5-1.5-1.5c-0.828,0-1.5,0.672-1.5,1.5c0,0.828,0.672,1.5,1.5,1.5C16.828,17.5,17.5,16.828,17.5,16z"/>
                                </svg>
                                <h6>Смотреть </h6>
                                <h6 style="font-size: 18px">все альбомы</h6>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <div class="col-md-4">
                        <div class="featured-btn-wrap">
                            <h6 style="font-size: 18px">К сожалению в базе отсутствуют альбомы.</h6>
                            <a href="{{ path('album_add') }}" class="btn btn-danger mt-4"><span class="ti-plus"></span>
                                Добавить альбом</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!--//END Albums -->

    <section class="main-block light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>Популярные жанры</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {% if genres|length > 0 %}
                    {% for genre in genres %}
                        <div class="col-md-3 category-responsive">
                            <a href="{{ path('genre_show', {'id': genre.getId() }) }}" class="category-wrap">
                                <div class="category-block">
                                    <svg class="category-img" version="1.1" id="Capa_1"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;"
                                         xml:space="preserve">
                                <path fill="none" stroke="#ff3a6d" class="active-path" stroke-linecap="round"
                                      stroke-miterlimit="10" d="M5.5,11.5v2 M4.5,12.5h2 M26.5,21.5v2 M25.5,22.5h2 M9.5,2.5v4 M7.5,4.5h4 M19.5,24.5v4 M17.5,26.5h4
                                     M19.2,16.8c0.7,0.7,0,1.3,0,1.3S7.2,28.8,5.8,27.5c-1.3-1.3-1.3-1.3-1.3-1.3c-1.3-1.3,8.7-12.7,9.4-13.4c0.7-0.7,1.3,0,1.3,0
                                    L19.2,16.8z M12.1,15l5,5 M6.8,21.7l3.6,3.6 M5.2,26.8l-2.7,2.7 M19.8,17.4c2.6,0.8,5.5,0.1,7.5-1.9c3-3,3-7.8,0-10.7
                                    c-3-3-7.8-3-10.7,0c-2,2-2.7,4.9-1.9,7.5 M16.6,4.7l10.7,10.7"/>
                            </svg>
                                    <h6>{{ genre.getName() }}</h6>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    <div class="col-md-3 category-responsive">
                        <a href="{{ path('genres') }}"
                           class="category-wrap">
                            <div class="category-block">
                                <svg class="category-img" version="1.1" id="Capa_1"
                                     xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;"
                                     xml:space="preserve">
                                    <path fill="none" stroke="#ff3a6d" class="active-path"
                                          stroke-linecap="round"
                                          stroke-miterlimit="10"
                                          d="M5.5,16  c0,5.787,4.698,10.5,10.5,10.5 M25.5,16c0-5.249-4.264-9.5-9.5-9.5 M24.67,19.879c-0.366,0.816-0.845,1.572-1.416,2.246 M16,29.5  C8.544,29.5,2.5,23.456,2.5,16C2.5,8.544,8.544,2.5,16,2.5c7.456,0,13.5,6.044,13.5,13.5C29.5,23.456,23.456,29.5,16,29.5z M21.5,16  c0-3.038-2.467-5.5-5.5-5.5c-3.038,0-5.5,2.462-5.5,5.5c0,3.033,2.462,5.5,5.5,5.5C19.033,21.5,21.5,19.033,21.5,16z M17.5,16  c0-0.828-0.672-1.5-1.5-1.5c-0.828,0-1.5,0.672-1.5,1.5c0,0.828,0.672,1.5,1.5,1.5C16.828,17.5,17.5,16.828,17.5,16z"/>
                                </svg>
                                <h6>Смотреть всех</h6>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <div class="col-md-4">
                        <div class="featured-btn-wrap">
                            <h6 style="font-size: 18px">К сожалению в базе отсутствуют жанры.</h6>
                            <a href="{{ path('artist_add') }}" class="btn btn-danger mt-4"><span class="ti-plus"></span>
                                Добавить жанр</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}