{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}


{% block content %}

    <section class="light-bg booking-details_wrap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 responsive-wrap">
                    <div class="booking-checkbox_wrap">
                        <div class="booking-checkbox">
                            <form class="form-signin" action="{{ path('login') }}" method="post">

                                <h5 class="mb-4">Авторизация</h5>

                                {% if success is not null %}
                                    <div class="alert alert-success" role="alert">
                                        {{ success }}
                                    </div>
                                {% endif %}

                                {% if error %}
                                    <div class="alert alert-danger" role="alert">
                                        { error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                {% endif %}

                                <div class="form-label-group mb-3">
                                    <label for="username">Имя пользователя</label>
                                    <input type="text" id="username" name="_username" class="form-control"
                                           placeholder="Введите имя пользователя..." required="" autofocus=""
                                           value="{{ last_username }}">
                                </div>

                                <div class="form-label-group mb-5">
                                    <label for="password">Пароль</label>
                                    <input type="password" id="password" name="_password" class="form-control"
                                           placeholder="Введите пароль..." required>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-2 mb-md-0">
                                        <button class="btn btn-dark w-100" type="submit">Войти</button>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="{{ path('register') }}" class="btn btn-dark w-100">Зарегистрироваться</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}