{% extends 'base.html.twig' %}


{% block title %}Регистрация{% endblock %}


{% block content %}

    <section class="light-bg booking-details_wrap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 responsive-wrap">
                    <div class="booking-checkbox_wrap">
                        <div class="booking-checkbox">
                            {{ form_start(form, {'method':'POST'}) }}

                            <h5 class="mb-4">Регистрация</h5>

                            <div class="form-group">
                                {{ form_label(form.username) }}
                                {% if form_errors(form.username) %}
                                    {{ form_widget(form.username, {'attr': {'class': 'form-control is-invalid'}}) }}
                                    <div class="invalid-feedback">
                                        {{ form_errors(form.username) }}
                                    </div>
                                {% else %}
                                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.password) }}
                                {% if form_errors(form.password) %}
                                    {{ form_widget(form.password, {'attr': {'class': 'form-control is-invalid'}}) }}
                                    <div class="invalid-feedback">
                                        {{ form_errors(form.password) }}
                                    </div>
                                {% else %}
                                    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-2 mb-md-0">
                                    {{ form_widget(form.save, {'attr':{'class':'btn btn-dark'}}) }}
                                </div>
                                <div class="col-md-6">
                                    <a href="{{ path('login') }}" class="btn btn-dark w-100">Уже зарегистрированы?</a>
                                </div>
                            </div>


                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}