{% extends('base.html.twig') %}

{% block title %}Альбомы{% endblock %}

{% block content %}

    <!--============================= GENRES =============================-->
    <section class="reserve-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex flex-column">
                    <h5>Альбомы</h5>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-md-6">
                        <div class="reserve-seat-block">
                            <div class="review-btn">
                                <a href="{{ path('album_add') }}"
                                   class="btn btn-outline-danger">Добавить</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="light-bg booking-details_wrap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 responsive-wrap">
                    <div class="booking-checkbox_wrap">
                        <div class="booking-checkbox">
                            <div class="row justify-content-center">
                                {% if albums|length > 0 %}
                                    {% for album in albums %}
                                        <div class="col-md-3 category-responsive">
                                            <a href="{{ path('album_show', {'id': album.id }) }}"
                                               class="category-wrap">
                                                <div class="category-block">
                                                    <svg class="category-img" version="1.1" id="Capa_1"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;"
                                                         xml:space="preserve">
                                                        <path fill="none" stroke="#ff3a6d" class="active-path"
                                                              stroke-linecap="round"
                                                              stroke-miterlimit="10"
                                                              d="M5.5,16  c0,5.787,4.698,10.5,10.5,10.5 M25.5,16c0-5.249-4.264-9.5-9.5-9.5 M24.67,19.879c-0.366,0.816-0.845,1.572-1.416,2.246 M16,29.5  C8.544,29.5,2.5,23.456,2.5,16C2.5,8.544,8.544,2.5,16,2.5c7.456,0,13.5,6.044,13.5,13.5C29.5,23.456,23.456,29.5,16,29.5z M21.5,16  c0-3.038-2.467-5.5-5.5-5.5c-3.038,0-5.5,2.462-5.5,5.5c0,3.033,2.462,5.5,5.5,5.5C19.033,21.5,21.5,19.033,21.5,16z M17.5,16  c0-0.828-0.672-1.5-1.5-1.5c-0.828,0-1.5,0.672-1.5,1.5c0,0.828,0.672,1.5,1.5,1.5C16.828,17.5,17.5,16.828,17.5,16z"/>
                                                    </svg>
                                                    <h6>{{ album.name }}</h6>
                                                    {% if album.author.name is defined %}
                                                        <h6 style="font-size: 18px">{{ album.author.name }}</h6>
                                                    {% endif %}
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="col-md-4">
                                        <div class="featured-btn-wrap">
                                            <h6 style="font-size: 18px">К сожалению в базе отсутствуют альбомы.</h6>
                                            <a href="{{ path('album_add') }}" class="btn btn-danger mt-4"><span
                                                        class="ti-plus"></span>
                                                Добавить альбом</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END CATEGORIES -->

{% endblock %}