<!--============================= HEADER =============================-->
<div class="dark-bg sticky-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="{{ path('home') }}">Медиатека</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="icon-menu"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        {{ include('inc/topmenu.html.twig') }}
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--//END HEADER -->