<ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('home') }}">Главная</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('genres') }}">Жанры</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('musics') }}">Треки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('artists') }}">Исполнители</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('albums') }}">Альбомы</a>
    </li>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="dropdown show">
            <button class="btn btn-outline-light top-btn" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Привет, {{ app.user.username|default('') }}!
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ path('logout') }}">Выйти</a>
            </div>
        </li>
    {% else %}
        <li><a href="{{ path('login') }}" class="btn btn-outline-light top-btn">Войти</a></li>
    {% endif %}
</ul>